# Configuração do Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=seguranca_privada
DB_PORT=3306

# Servidor
SERVER_PORT=3001
NODE_ENV=development

# Admin (defina o CPF do ADM ULTIMATE para habilitar listagem completa)
ADMIN_CPF=00000000000
ADMIN_NAME=Seu Nome ADM ULTIMATE
